/* body
{
    background-image: url(/background.jpg);
    background-size: 110%;
} */
#video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    }
.black
{
    background-color: black;
    width: 1560px;
    height: 754px;
    display: block;
}
.noidung h2
{
    text-align: center;
    margin-top: 200px;
    font-size: 120px;
    color: white;
    font-family: 'Lobster', cursive;
}
.noidung h3{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Lobster', cursive;
}
.btn
{
    text-align: center;
    font-size: large;
    margin-left: 630px;
    margin-top: 10px;
    width: 260px;
    height: 80px;
}
button
{
    font-size: 30px;
}
.zoom:hover .btn{
    transform: scaleX(1.13);
    transform-origin: 50%;
    transition: 0.7s;
}